




#add-expense-btn , #search-btn {
    margin: 20px 10px 0px;
    border: 1px solid var(--mainColor);
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.search-inputs {
    display: flex;
    gap: 10px;
    margin: 10px 10px 0px;
}
.search-inputs  input {
    flex: 1;
    height: 30px;
    background-color: var(--grayColor);
    border: none;
    outline: none;
    font-weight: 600;
    padding: 5px;
}

#search-btn {
    margin: 10px 10px 0px;
}


/*Table*/


table {
    width: calc(100% - 10px);
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;

}
table thead tr th {
    background-color: var(--mainColor);
    color: white;
    font-weight: bold;
}
table tbody tr td {
    background-color: var(--grayColor);
}

table tbody tr td:nth-child(1) {
    width: 40px;
}

.overlay {
    display: block;
}

/* Add */
.add-expense {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 1;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    min-width: 300px;
    max-height: 100%;
    overflow: scroll;
}

.add-expense  .btn  {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 50%;
    width: 80px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: white;
    transform: translateX(-50%);
    background-color: var(--mainColor);
}

.add-expense span {
    margin: 30px 0px 10px;
    margin-right: -10px;
    font-size: 18px;
    position: relative;
    padding-right: 30px;
    color: var(--mainColor);
    font-weight: bold;
}

.add-expense  span::before {
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    border: 15px solid transparent;
    border-right: 20px solid var(--mainColor);
}

.add-expense  span::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 170px;
    background-color: var(--mainColor);
    height: 2px;
}

.add-expense  input {
    width: 100%;
    height: 30px;
    background-color: var(--grayColor);
    border: none;
    outline: none;
    font-weight: 600;
}

