
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside>
        <img src="../assets/images/cart.png" alt="" val="sell">
        <img src="../assets/images/warehouse.png" alt="" val="storage">
        <img src="../assets/images/budget.png" alt="" val="buy">
        <img src="../assets/images/trade.png" alt="" val="invoices">
        <img src="../assets/images/analysis.png" alt="" val="report">
        <img src="../assets/images/return-box.png" alt="" val="returns">
        <img src="../assets/images/employee.png" alt="" val="employee">
        <img src="../assets/images/expenses.png" alt="" val="store">
    </aside>
</body>
</html>
